/*/
/!/ Global
/*/

@import "_mixin";
@import "_effect";

$fontSize: 40;
@function rem($px) {
    @return $px / $fontSize * 1rem;
}

body {
    margin: 0;
    background: #fff;
}

.board {
    $width-board: rem(1000);
    $height-board: rem(618);
    position: relative;
    width: $width-board;
    height: $height-board;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.button {
    @include button();
}
